__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
remove_bg.py

# Build artifacts
*.AppImage
*.Appimage
AppImageBuild/
VividPM.AppDir/
.build_cache/
.build_venv/
build/
appimagetool
build_appimage.sh
build_appimage_cx.sh
setup.py
VividPM.egg-info/
dist/
AppDir/
.wine_vivid/
python_installer.exe
build_windows/
!releases/
